<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.anvisys.NestIn"
    android:versionCode="5"
    android:versionName="0.5">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="net.anvisys.NestIn.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- For Badges -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:icon="@drawable/iconhome_n"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="android3.maxtingapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name=".CarPool.MyCarPoolActivity"></activity>
        <activity android:name=".Rent.MyRentActivity" />
        <activity android:name=".HouseActivity" />
        <activity android:name=".Register.SelectRoleActivity" />
        <activity android:name=".Register.RoleFlatActivity" />
        <activity android:name=".Register.RoleHomeActivity" />
        <activity android:name=".AdminPageActivity" />
        <activity android:name=".Flat.AddTenantActivity" />
        <activity android:name=".Flat.MyFlatActivity" />
        <activity android:name=".Rent.AddRentActivity" />
        <activity android:name=".CarPool.AddPoolOfferActivity" />
        <activity android:name=".CarPool.CarPoolActivity" />
        <activity
            android:name=".Rent.RentActivity"
            android:parentActivityName=".Register.LoginActivity" />
        <activity android:name=".Register.NewRegisterActivity" />
        <activity
            android:name=".Register.RoleActivity"
            android:parentActivityName=".Register.LoginActivity" />
        <activity
            android:name=".Register.RegisterActivity"
            android:parentActivityName=".Register.LoginActivity" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".Register.LoginActivity"
            android:label="Society Management"
            android:noHistory="true" />
        <activity
            android:name=".Complaints.AddComplaintsActivity"
            android:label="Add Complaint"
            android:parentActivityName=".Complaints.ViewComplaintsActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Complaints.ViewComplaintsActivity"
            android:label="View Complaints"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Complaints.ReOpenComplaintsActivity"
            android:label="Re-Open Complaint"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Forum.ForumActivity"
            android:label="@string/title_activity_forum"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="userPortrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Notice.NoticeActivity"
            android:label="Notifications"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="userPortrait" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:parentActivityName="net.anvisys.NestIn.DashboardActivity"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="net.anvisys.NestIn" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.anvisys.NestIn.DashboardActivity" />
        </receiver>

        <service
            android:name=".MyGCMListnerService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".Vendor.VendorActivity"
            android:label="@string/title_activity_shop"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Forum.ForumCompActivity"
            android:label="@string/title_activity_forum_comp"
            android:parentActivityName=".Forum.ForumActivity"
            android:screenOrientation="userPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DashboardActivity"
            android:label="NestIn"
            android:launchMode="singleTask"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Billing.BillingActivity"
            android:label="@string/title_activity_billing"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".Poll.OpinionActivity"
            android:label="@string/title_activity_opinion"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".Billing.PaymentActivity"
            android:parentActivityName=".Forum.ForumActivity" />
        <activity
            android:name=".Complaints.ComplaintHistoryActivity"
            android:label="@string/title_activity_complaint_history"
            android:parentActivityName=".Complaints.ViewComplaintsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ProfileActivity"
            android:label="My Profile" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Forum.AddForumActivity"
            android:parentActivityName=".Forum.ForumActivity" />
        <activity
            android:name=".Register.SettingActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".Guest.AddVisitorActivity"
            android:parentActivityName=".Guest.VisitorActivity" />
        <activity
            android:name=".Guest.VisitorActivity"
            android:parentActivityName=".Guest.AddVisitorActivity" />

        <service
            android:name=".Common.DownloadSongService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>