<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.anvisys.NestIn"
    android:versionCode="4"
    android:versionName="0.4">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="27" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="net.anvisys.NestIn.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:icon="@drawable/iconhome_n"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="net.anvisys.NestIn.Register.LoginActivity"
            android:label="Society Management"
            android:noHistory="true" />
        <activity
            android:name="net.anvisys.NestIn.Complaints.AddComplaintsActivity"
            android:label="Add Complaint"
            android:parentActivityName="net.anvisys.NestIn.Complaints.ViewComplaintsActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name="net.anvisys.NestIn.Complaints.ViewComplaintsActivity"
            android:label="View Complaints"
            android:parentActivityName="net.anvisys.NestIn.DashboardActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name="net.anvisys.NestIn.Complaints.ReOpenComplaintsActivity"
            android:label="Re-Open Complaint"
            android:screenOrientation="userPortrait" />
        <activity
            android:name="net.anvisys.NestIn.Forum.ForumActivity"
            android:label="@string/title_activity_forum"
            android:parentActivityName="net.anvisys.NestIn.DashboardActivity"
            android:screenOrientation="userPortrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="net.anvisys.NestIn.Notice.NoticeActivity"
            android:label="Notifications"
            android:parentActivityName="net.anvisys.NestIn.DashboardActivity"
            android:screenOrientation="userPortrait" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:parentActivityName="net.anvisys.NestIn.DashboardActivity"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="net.anvisys.NestIn" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.anvisys.NestIn.DashboardActivity" />
        </receiver>

        <service
            android:name="net.anvisys.NestIn.MyGCMListnerService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name="net.anvisys.NestIn.Vendor.ShopActivity"
            android:label="@string/title_activity_shop"
            android:parentActivityName="net.anvisys.NestIn.DashboardActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name="net.anvisys.NestIn.Forum.ForumCompActivity"
            android:label="@string/title_activity_forum_comp"
            android:parentActivityName="net.anvisys.NestIn.Forum.ForumActivity"
            android:screenOrientation="userPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="net.anvisys.NestIn.DashboardActivity"
            android:label="NestIn"
            android:launchMode="singleTask"
            android:screenOrientation="userPortrait" />
        <activity
            android:name="net.anvisys.NestIn.Billing.BillingActivity"
            android:label="@string/title_activity_billing"
            android:parentActivityName="net.anvisys.NestIn.DashboardActivity" />
        <activity
            android:name="net.anvisys.NestIn.Poll.OpinionActivity"
            android:label="@string/title_activity_opinion"
            android:parentActivityName="net.anvisys.NestIn.DashboardActivity" />
        <activity
            android:name="net.anvisys.NestIn.Billing.PaymentActivity"
            android:parentActivityName="net.anvisys.NestIn.Forum.ForumActivity" />
        <activity
            android:name="net.anvisys.NestIn.Complaints.ComplaintHistoryActivity"
            android:label="@string/title_activity_complaint_history"
            android:parentActivityName="net.anvisys.NestIn.Complaints.ViewComplaintsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="net.anvisys.NestIn.ProfileActivity"
            android:label="My Profile" />
        <activity android:name="net.anvisys.NestIn.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.anvisys.NestIn.Forum.AddForumActivity"
            android:parentActivityName="net.anvisys.NestIn.Forum.ForumActivity" />
        <activity
            android:name="net.anvisys.NestIn.SettingActivity"
            android:parentActivityName="net.anvisys.NestIn.DashboardActivity" />
        <activity
            android:name="net.anvisys.NestIn.Guest.GuestCodeActivity"
            android:parentActivityName="net.anvisys.NestIn.Guest.GuestActivity" />
        <activity android:name="net.anvisys.NestIn.Guest.GuestActivity"
            android:parentActivityName="net.anvisys.NestIn.Guest.GuestCodeActivity"/>
    </application>

</manifest>